@media only screen and (min-width: 1250px) {
    .imageGrid {
        &__testImgSecond {
            width: 470px;
            height: 480px;
        }

        &__testImgFirst {
            width: 676px;
            height: 404px;
        }
    }
}
@media only screen and (max-width: 1300px) {
    .imageGrid {
        &__firstBgAbout {
            height: 500px;
        }

        &__secondAbout {
            width: 230px;
        }
    }
}

@media only screen and (max-width: 1250px) {
    .imageGrid {
        display: flex !important;
        margin-bottom: 16px;

        &__testImgFirst {
            height: 290px;
            width: 100%;
        }
        &__testImgSecond {
            // padding-right: 16px;
            height: 304px;
            width: 100%;
            display: flex;
        }

        &__firstBgAbout {
            width: 240px;
            height: 280px;
        }

        &__secondAbout {
            height: 100px;
            width: 136px;
        }
        &__lastAbout {
            height: auto;
            width: 204px;
        }

        &__box {
            margin-top: 17px;
            display: flex;
            &-img {
                margin-bottom: 0;
            }
            &-leftSide {
                display: flex;
                align-items: end;
                flex-direction: column;
                margin: 0 4px 0 0;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .imageGrid {
        &__testImgFirst {
            height: 125px;
            width: 100%;
        }
        &__testImgSecond {
            height: 142px;
            padding-right: 5px;
            width: 100%;
            display: flex;
        }

        &__lastAbout {
            height: 118px;
            width: 130px;
        }

        &__firstBgAbout {
            width: 130px;
            height: 140px;
        }

        &__secondAbout {
            height: 55px;
            width: 90px;
        }

        &__box {
            .imageGrid__beehive {
                @include BeeHive(50px, 50px);
                width: 50px !important;
                height: 50px !important;
                position: absolute;
                top: -30px !important;
                right: 0px !important;
                z-index: -1;
            }
        }
    }
}

@media only screen and (max-width: 400px) {
    .imageGrid {
        &__lastAbout {
            height: 108px;
            width: auto;
        }

        &__firstBgAbout {
            width:100% ;
        }

        &__secondAbout {
            height: 48px;
            width: 70px;
            margin: 0 3px 0 0;
        }
    }
}







